.slider_wrapper

  .slideshow
    margin: 0 auto
    width: 100% !important
    padding: 0

    li
      width: 100%

      a
        display: block
        height: 100%


    .slide1
      background: url(../img/contacto/slider/ubicacion-tijuana.png) center center no-repeat
      background-size: cover
      height: 500px
      width: 100% !important

    .slide2
      background: url(../img/contacto/slider/ubicacion-mexicali.png) center center no-repeat
      background-size: cover
      height: 500px
      width: 100% !important

    .slide3
      background: url(../img/contacto/slider/ubicacion-lapaz.png) center center no-repeat
      background-size: cover
      height: 500px
      width: 100% !important

    .slide4
      background: url(../img/contacto/slider/ubicacion-chulavista.png) center center no-repeat
      background-size: cover
      height: 500px
      width: 100% !important

  .pager_wrapper
    text-align: center

    .slideshow_pager
      position: relative
      z-index: 10
      top: -25px
      padding: 0

      li
        list-style-type: none
        display: inline-block
        padding: 0 7px

        a
          @extend %muli
          color: $white

        &.activeSlide
          a
            color: $blue
