<!DOCTYPE html>
<html data-ng-app="mint.app">

<head>
    {% load staticfiles %}
    <title>Vega abogados - Your legal gateway into Mexico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="http://mintitmedia.com">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/vendor.css' %}" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//malsup.github.io/jquery.cycle.all.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't Project if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/screen.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header id="header" data-ui-view="header-view"></header>
    <section id="content" role="main" class="view-frame ngFade" data-ui-view="main-view"></section>
    <footer data-ui-view="footer-view"></footer>
    <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-sanitize.js"></script>
    <script type="text/javascript" src="{% static 'js/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mint.app.js' %}"></script>
</body>

</html>
