{% load staticfiles %}
<div id="footer-head">
	<div class="container text-right">
		<p><span class="hidden">Vega</span> <span data-translate="string.c"></span></p>
	</div>
</div>
<div id="footer-main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<ul>
							<li><h5><a href="" data-ui-sref="[['app.' + menu.aboutus]]" title="About us" data-translate="menu.whoweare"></a></h5></li>
							<li><h5><a href="" data-ui-sref="[['app.' + menu.ourteam]]" title="Our team" data-translate="menu.team"></a></h5></li>
						</ul>
					</div>	
					<div class="col-xs-12 col-sm-6">
						<ul>
							<li><h5><a href="" data-ui-sref="[['app.' + menu.whatwedo]]" title="What we do" data-translate="menu.whatwedo"></a></h5></li>
							<li><h5><a href="" data-ui-sref="[['app.' + menu.fieldaction]]" title="Our practice" data-translate="menu.practice"></a></h5></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="brochure" data-translate="docs.brochure">
						</div>
					</div>
				</div>
			</div>	
			<div class="col-xs-12 col-sm-8">
				<h5><a href="" data-ui-sref="[['app.' + menu.contact]]" title="Contact" data-translate="menu.contact"></a></h5>
				<div class="row footer-text">
					<div class="col-xs-12 col-sm-4">
						<h6>Tijuana</h6>
						<p data-translate="address.tijuana"></p>
						<a href="tel:011526646835759" title="Call Us" class="tel">011-52-664-683-5759</a>
					</div>
					<div class="col-xs-12 col-sm-4">
						<h6>Mexicali</h6>
						<p data-translate="address.mexicaly"></p>
						<a href="tel:011526865526009" title="Call Us" class="tel">01152-686-5526009 <span data-translate="contact.and"></span> 10</a>
					</div>
					<div class="col-xs-12 col-sm-4">
						<h6>Chula Vista</h6>
						<p data-translate="address.chulavista"></p>
						<a href="tel:16193709387" title="Call Us" class="tel">1-619-370-9387</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<a href="mailto:info@vega.sc" title="Write Us" class="email">info@vega.sc</a>
					</div>
					<div class="col-xs-12 col-sm-4">
			            <ul class="social">
		                <li class="facebook"><a href="https://www.facebook.com/vegalawconsulting?fref=ts" title="Facebook" target="_blank">Facebook</a></li>
		                <li class="linkedin"><a href="https://www.linkedin.com/company/vega-abogados" title="LinkedIn" target="_blank">LinkedIn</a></li>
		                <li class="twitter"><a href="https://twitter.com/vega_abogadossc" title="Twitter" target="_blank">Twitter</a></li>
			        	</ul>
					</div>
				</div>
			</div>	
		</div><!-- .row -->
	</div>
</div>
<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<p>VEGA Abogados, All rights reserved 2015</p>
			</div>	
			<div class="col-xs-12 col-sm-4 text-center">
			</div>	
			<div class="col-xs-12 col-sm-4 text-right">
				<p id="credit">A project made by: <a href="http://somospool.com" title="Branding POOL" target="_blank">Pool</a> Coded by: <a href="http://www.mintitmedia.com" title="Mint IT Media - Diseño y desarrollo web" target="_blank">Mint</a></p>
			</div>	
		</div>
	</div>
</div>