<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" data-ui-sref="[['app.' + menu.home]]">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed=true">
            <ul class="nav navbar-nav">
				<li><a href="" data-ui-sref="[['app.' + menu.home]]" data-ui-sref-active="active" data-translate="menu.home"></a></li>
				<li><a href="" data-ui-sref="[['app.' + menu.aboutus]]" data-ui-sref-active="active" data-translate="menu.aboutus">About Us</a></li>
				<li><a href="" data-ui-sref="[['app.' + menu.whatwedo]]" data-ui-sref-active="active" data-translate="menu.whatwedo"></a></li>
                <li><a href="" data-ui-sref="[['app.' + menu.contact]]" data-ui-sref-active="active" data-translate="menu.contact"></a></li>
                <li><a href="http://blog.vega.sc/" title="vega blog">blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <div id="header-tools">
            <ul class="social">
                <li class="facebook">
                    <a href="https://www.facebook.com/vegalawconsulting?fref=ts" title="Facebook" target="_blank">Facebook</a>
                </li><li class="linkedin">
                    <a href="https://www.linkedin.com/company/vega-abogados" title="Linkedin" target="_blank">Linkedin</a>
                </li><li class="twitter">
                    <a href="https://twitter.com/vega_abogadossc" title="Twitter" target="_blank">Twitter</a>
                </li>
        	</ul><!-- .social -->
            <p id="lang" class="btn-group">
                <a href="" title="Change to english" data-ng-click="switchLang('en_EN')" id="lang_en_EN">Eng</a> -
                <a href="" title="Change to english" data-ng-click="switchLang('es_MX')" id="lang_es_MX">Esp</a>
            </p><!-- #lang -->
        </div>
    </div>
</nav>
