<div id="banner" class="about-us">
    <div class="wrap">
        <h1 data-translate="aboutus.banner.b"></h1>
        <p data-translate="aboutus.banner.a"></p>
        <p class="more" data-translate="string.a"></p>
    </div><span class="height-control"></span>
</div>
<!-- #banner -->
<div id="who-we-are">
    <span id="quienes-somos"></span>
    <div class="container">
        <h4 data-translate="menu.aboutus"></h4>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h2 data-translate="menu.whoweare"></h2>
                <p data-translate="aboutus.container.a"></p>
                <p data-translate="aboutus.container.b"></p>
            </div>
            <div class="col-xs-12 col-sm-7">
            </div>
            <span id="paperwork" class="img"><span>Picture of a man doing legal paperwork</span></span>
        </div>
    </div>
</div>
<!-- #who-we-are -->
<div id="our-history">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
            </div>
            <div class="col-xs-12 col-sm-5">
                <h2 data-translate="string.d"></h2>
                <p data-translate="aboutus.history.a"></p>
            </div>
            <span id="old-border-crossing" class="img"><span>Picture of Tijuana's old border crossing</span></span>
        </div>
    </div>
</div>
<!-- #our-history -->
<div id="solutions-phrase">
    <h3 data-translate="aboutus.solution.a"></h3>
</div>
<!-- #solutions-phrase -->
<div id="our-philosophy" class="about-us">
    <div class="container">
        <h2 data-translate="string.e"></h2>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <blockquote data-translate="aboutus.philosophy.a"></blockquote>
            </div>
            <div class="col-xs-12 col-sm-7">
                <p data-translate="aboutus.philosophy.b"></p>
            </div>
        </div>
    </div>
</div>
<!-- #our-philosophy -->
<div id="our-team">
    <span id="nuestro-equipo"></span>
    <div class="container">
        <h2 data-translate="menu.team"></h2>
        <div class="wrap">
            <h3 data-translate="string.f">Team</h3>
            <p data-translate="aboutus.team.a"></p>
            <p data-translate="aboutus.team.b"></p>
            <p data-translate="aboutus.team.c"></p>
            <ul>
                <li>
                    <h4><em data-translate="aboutus.team.sergio.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.sergio.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.oscar.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.oscar.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.sergiob.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.sergiob.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.juan.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.juan.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.roberto.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.roberto.a"></p>
                    <p data-translate="aboutus.team.roberto.b"></p>
                    <ul class="social">
                        <li class="linkedin">
                            <a href="https://www.linkedin.com/pub/roberto-vega/68/95b/211" title="Linkedin" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.carlos.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.carlos.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.guillermo.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.guillermo.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.fco.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.fco.a"></p>
                </li>
                <li>
                    <h4><em data-translate="aboutus.team.diego.name"></em> <span data-translate="string.h"></span></h4>
                    <p data-translate="aboutus.team.diego.a"></p>
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <h2 data-translate="aboutus.team.d"></h2>
        <div class="wrap">
            <ul>
                <li>
                    <h4><em data-translate="aboutus.team.staff.christian.name"></em></h4>
                    <p data-translate="aboutus.team.staff.christian.description"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- #our-team -->
