<div id="banner" class="terms-conditions">
	<div class="wrap">
		<h1>Terms and conditions</h1>
	</div><span class="height-control"></span>	
</div><!-- #banner -->
<div class="container terms-conditions">
	<p>Ea labitur labores sit, ei est wisi decore partem. Ut mel porro nihil albucius, mazim malorum antiopam usu ea, te solet legere scribentur vis. Ex per appareat ullamcorper, et mei esse novum dissentias, vis ad ullum delectus. Ipsum platonem recteque eos id, ex fabulas consulatu moderatius duo, rebum propriae electram ei nam.</p>

	<p>Est ei mutat perfecto, an illud facer salutatus nec, quodsi suscipit explicari eos cu. Mea at virtute neglegentur. Vis te sint brute, mea ea vide harum. At quas soluta molestie nec, habeo molestiae theophrastus mea ei. Cu sit dolor feugiat consetetur.</p>
</div><!-- #our-team -->
